<style>
h1 {
  background-color: #E4F5A5;
}

</style>

<body class="bodyContainer">
<h1 align="center" style="font-family: Bakery; font-size: 80px; color: #B41656">
  Welcome to YouNique!</h1>
<p> </p>
<p style="font-family: 'Helvetica Neue'" align="center"> This is a page where all types of faces and skin tones can share tips and tricks on makeup.</p>
<div class="logo">
	<p> LOGO </p>
</div>

<div class="navbar">
  <%= link_to 'Videos', videos_path %>
</div>

<div class="interactiveFaceContainer">
  <img style="width: 500px; height: 650px;" border="0">
</div>

</body>

