<body class="bodyContainer">
<h1>Welcome to FaceLook</h1>
<div class="logo">
	<p> LOGO </p>
</div>
<div class="interactiveFaceContainer">
	<p>Face Container</p>
</div>

<%= link_to 'Videos', videos_path %>

</body>

