// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bodyContainer{
	margin: 0px;
	padding: 0px;
}
.logo{
	border: solid;
	width: fit-content;
	height: fit-content;
	position: relative;
	left: 100px;
	top: 0px;
}

.navbar {
    background-color: #EFEFEF;
    top: 30%;
    height: 50px;
    margin: 0px;

}


.interactiveFaceContainer{
    border: 0;
    top: 50%;
	position: absolute;
	left: 50%;
    width: fit-content;
    height: fit-content;
	transform: translate(-50%, 0);
    background-image: url("face.jpg");
    background-size: 100% 100%;
    margin: auto;
}

